{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Mccord</h1>
            <p>My current goal is to find a welcoming and encouraging first job. </p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>What I hope to Give</h2>
            <p>
                I'm going to strive to be as useful to my employer as possible. 
                I appreciate when people I work with do their job and go beyond what is expected, 
                becuase it's an idea I've always try to uphold in my work. I know what it's like 
                to work with people who don't try to pull their own weight and I will not be like that. 
                I want to hop in and take on responsibility, not only to help my team, but also to learn 
                in a "trial by fire" sort of way.
            </p>
            <h2>What I hope to Gain</h2>
            <p>
                What I hope to gain most is the skills to write more complex code and to understand code better. 
                I hope that I can grow as a programmer, a worker, and a person. I strive to grow better every day,
                so I'm looking for the same kind of environment in my future work place. 
            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}