{% extends 'layout.html' %}

{% block content %}
        <section class="header">
            <h1>Mccord</h1>
            <p>I've gained a lot of skills so far, but I want to do more</p>
            <!--I would suggest choosing a different picture here.-->
            <!--Like maybe a hobby photo-->
            <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
        </section>
        <section id="skills-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <section id="main">
                <h2>Current Skills</h2>
                <div id="container" class="list">
                    <h3>Technical</h3>
                    <ul>
                        <li>Python</li>
                        <li>Functional Programming</li>
                        <li>Object Oriented Programming</li>
                        <li>SQLAlchemy</li> 
                        <li>Flask</li> 
                        <li>HTML/CSS</li>  
                        <li>GitHub</li> 
                        <li>Visual Studio Code</li> 
                    </ul>
                </div>
                <div id="container" class="list">
                    <h3>Personal</h3>
                    <ul> 
                        <li>Problem Solving</li>
                        <li>Listening</li>
                        <li>Efficiency</li>
                    </ul>
                </div>
            </section>
            <section id="main">
                <h2>Skills I want to achieve</h2>
                <div id="container" class="list">
                    <h3>Technical</h3>
                    <ul>
                        <li>Python</li>
                        <li>Functional Programming</li>
                        <li>Object Oriented Programming</li>
                        <li>SQLAlchemy</li> 
                        <li>Flask</li> 
                        <li>HTML/CSS</li>  
                        <li>GitHub</li> 
                        <li>Visual Studio Code</li> 
                    </ul>   
                </div>
                <div id="container" class="list">
                    <h3>Personal</h3>
                    <ul> 
                        <li>Problem Solving</li>
                        <li>Listening</li>
                        <li>Efficiency</li>
                    </ul>
                </div>
            </section>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
{% endblock %}